---
import Background from "./utils/Background.astro";
---

<section class="h-auto" id="features">
    <div class="py-24 px-4 mx-auto max-w-screen-xl lg:py-32 lg:px-6">
        <div class="max-w-screen-xl mb-8 lg:mb-16">
            <h1
                class="mb-4 text-xl font-extrabold text-gray-900 dark:text-white md:text-3xl lg:text-5xl">
                Hecho para equipos empresariales
                <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
                    como el tuyo
                </span>
            </h1>
            <p class="text-gray-500 sm:text-xl dark:text-gray-400"></p>
        </div>
        <Background />
        <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            <!-- F1 -->
            <div>
                <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full lg:h-12 lg:w-12 bg-gradient-to-r to-emerald-600 from-sky-400 text-white">
                    <i class="fa-solid fa-chart-line dark:text-white"></i>
                </div>
                <h3 class="mb-2 text-xl font-bold dark:text-white">
                    Marketing
                </h3>
                <p class="text-gray-500 dark:text-gray-300">
                    Planifíquelo, créelo, ejecútelo. Colabora sin problemas
                    con toda la organización y alcanza tus objetivos de marketing cada mes con nuestro plan de
                    marketing.
                </p>
            </div>
            <!-- F2 -->
            <div>
                <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full lg:h-12 lg:w-12 bg-gradient-to-r to-emerald-600 from-sky-400 text-white">
                    <i class="fa-solid fa-code dark:text-white"></i>
                </div>
                <h3 class="mb-2 text-xl font-bold dark:text-white">
                    Software
                </h3>
                <p class="text-gray-500 dark:text-gray-300">
                    Diseño, desarrollo e implementación de soluciones personalizadas.
                    Colabora con nuestro equipo de expertos para materializar tu visión
                    y alcanzar tus objetivos de software de manera efectiva y eficiente.
                </p>
            </div>
            <!-- F3 -->
            <div>
                <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full lg:h-12 lg:w-12 bg-gradient-to-r to-emerald-600 from-sky-400 text-white">
                    <i class="fa-solid fa-paint-brush"></i>
                </div>
                <h3 class="mb-2 text-xl font-bold dark:text-white">
                    Diseño Creativo
                </h3>
                <p class="text-gray-500 dark:text-gray-300">
                    Transformamos ideas en experiencias visuales cautivadoras.
                    Con nuestra combinación de creatividad y habilidades técnicas,
                    creamos diseños atractivos que destacan tu marca y conectan con tu audiencia.
                </p>
            </div>
        </div>
    </div>
</section>