---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Banner from "../components/app/Banner.astro";
import About from "../components/app/About.astro";
import Layout from "../layouts/Layout.astro";
import Problem from "../components/app/Problem.astro";
import Solution from "../components/app/Solution.astro";
import Benefits from "../components/app/Benefits.astro";
import Features from "../components/app/Features.astro";
import Testimonials from "../components/app/Testimonials.astro";
import Works from "../components/app/Works.astro";
import Prices from "../components/app/Prices.astro";
import FAQ from "../components/app/FAQ.astro";
import Contact from "../components/app/Contact.astro";
---

<Layout title="Bienvenido, Altezza.">
  <main>
    <Header />
        <!-- App -->
        <Banner />
        <About />
        <Problem />
        <Solution />
        <Benefits />
        <Features />
        <Testimonials />
        <Works />
        <Prices />
        <FAQ />
        <Contact />
    <Footer />
  </main>
</Layout>